.carousel_image{
    min-width: 100vw;
    height: 25vw;
    object-fit: cover;
    
}
body{
    overflow-x: hidden;
}

.main{
    display:flex;
    flex-direction: column;
}
.info-image1{
    width: 100vw;
    height: 10vw;
    object-fit: cover;
    position: absolute;
    z-index: -1;
}
.bw{
    filter: grayscale(100%);

}
.download1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 2vw;
}
.info-image2{
    width: 100vw;
    height: 10vw;
    object-fit: cover;
    position: absolute;
    z-index: -1;
    margin-top: 3vw;
}
.download2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 5vw; 
}
h2{
    font-size: 1vw;
}
li{
    list-style: none;
    margin: 10px 0;
}
.card-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.membership{
    
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 10vw;
}
.line{
    width: 90%;
    border: 1px solid;
    border-radius: 1000000px;
}